@font-face {
    font-family: "regular";
    src: url(../font/open-regular.ttf);
}
@font-face {
    font-family: "semibold";
    src: url(../font/open-semibold.ttf);
}
.cuerpo{
    background-image: linear-gradient(white, gray);
    width: 1600px;
    height: 1200px;
}
.rectangulo3{
    top: 200px;
left: 100px;
width: 1400px;
height: 800px;
    position: relative;
}
.metrolinea__up{
    top: 243px;
left: 143px;
width: 196px;
height: 44px;
position: absolute;
}
.line{
    top: 303px;
left: 841px;
width: 146px;
height: 1px;
position: absolute;
}
.card{
    top: 303px;
left: 459px;
width: 576px;
height: 324px;
position: absolute;
}
.shoping{
    top: 252px;
left: 1324px;
width: 33px;
height: 32px;
position: absolute;
}
.line{
    top: 303px;
    left: 1100px;
width: 82px;
height: 4px;
position: absolute;
}
.search{
    top: 252px;
left: 1224px;
width: 27px;
height: 27px;
position: absolute;
}
.rectangle1{
    top: 208px;
left: 1400px;
width: 110px;
height: 800px;
position: absolute;
background-color: black;
border-radius: 0px 8px 8px 0px;
}
.flechita1{
    top: 240px;
left: 1443px;
width: 24px;
height: 14px;
position: absolute;
}
.flechita2{
    top: 946px;
left: 1443px;
width: 24px;
height: 14px;
position: absolute;
}
.valor{
    top: 349px;
left: 1430px;
width: 84px;
height: 27px;
position: absolute;
color: white;
font-size: 20px;
font-family: "regular"
}
.saldo{
    top: 215px;
left: 1072px;
width: 132px;
height: 41px;
position: absolute;
font-size: 30px;
font-family: "regular";
color: black;
}
.compra{
    top: 213px;
left: 802px;
width: 230px;
height: 41px;
position: absolute;
font-size: 30px;
font-family: "regular";
color: black;
}
.rectangle2{
    top: 847px;
left: 1190px;
width: 160px;
height: 114px;
position: absolute;
}
.metrolinea__down{
    top: 876px;
left: 1205px;
width: 129px;
height: 29px;
position: absolute;
}
.comprar_down{
    top: 887px;
left: 1215px;
width: 111px;
height: 36px;
position: absolute;
font-size: 26px;
font-family: "semibold";
}
.text_tarjeta{
    top: 600px;
left: 401px;
width: 800px;
height: 55px;
position: absolute;
font-size: 40px;
font-family: "semibold";
}
.precio{
    top: 677px;
left: 583px;
width: 329px;
height: 37px;
position: absolute;
font-size: 27px;
font-family: "semibold";
}
.saldo_escogido{
top: 744px;
left: 639px;
width: 200px;
height: 37px;
position: absolute;
font-size: 27px;
font-family: "semibold";
}
.margen_precio{
    top: 830px;
left: 595px;
width: 288px;
height: 58px;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
position: absolute;
}
.texto_margen{
    font-size: 27px;
    top: 812px;
    left: 705px;
    width: 77px;
    height: 37px;
    position: absolute;
    opacity: 0.5;
    font-family: "semibold";
}
.valor1{
    top: 507px;
left: 1425px;
width: 57px;
height: 27px;
position: absolute;
font-size: 20px;
font-family: "regular";
color: white;
opacity: 0.5;
}
.valor2{
    top: 587px;
    left: 1425px;
    width: 57px;
    height: 27px;
    position: absolute;
    font-size: 20px;
    font-family: "regular";
    color: white;
}
.valor3{
    top: 667px;
    left: 1425px;
    width: 57px;
    height: 27px;
    position: absolute;
    font-size: 20px;
    font-family: "regular";
    color: white;
    opacity: 0.5;
}
.rectangulo_down{
    top: 847px;
left: 1190px;
width: 160px;
height: 114px;
background-color: #D5FF43;
position: absolute;
border-radius: 8px;
}