body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 800px;
    border: 5px solid black;
    background-color:beige;
}

.cuerpo {
    margin: 20px;
}

td {
    padding: 20px;
    vertical-align: top;
}

.izquierda {
    justify-content: center;
    align-items: center;
}
.medio {
    border: 5px solid black;
    text-align: center;
}

.derecha {
    border: 5px solid black;
    text-align: center;
}
.izquierda1 {
    text-align: center;
    border: 5px solid black;
}
.imagen1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid black;
    align-items: center;
}
.imagen2 {
    border: 5px solid black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.parrafo {
    text-align: center;
    white-space: pre-line;
    word-wrap: break-word;
}
.parrafo2 {
    text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
}
