html,body{
    margin: 0;
    width: 100vw;
    image-rendering: pixelated;
}
@keyframes mover {
    0%{left:-20vw;}
    20%{left: 50vw;}
    80%{left: 50vw;}
    100%{left: 120vw;}
}
#fondo{
    width: 100vw;
    height: 80vw;
    position: relative;
}
#sol{
    width: 30vw;
    height: 18vw;
    position: relative;
    margin: auto;
    bottom: 80vw;
    left: 75vw;
}
#nube{
    width: 20vw;
    height: 10vw;
    position: relative;
    bottom:80vw;
    left: -20vw;
    animation: mover 10s linear;
}